.resultContainer{
    position: relative;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .overlayDark{
        position: absolute;
        background: rgba(0,0,0,0.7);
        height: 100%;
        width: 100%;
    }
    .resultText{
        color: white;
        font-weight: bold;
        &.receiver{
            font-size: 2rem;
        }
    }
    .textContainer{
        position: fixed;
        z-index: 1;
        padding: $spacer * 2;
    }
}