.step{
    .title{
        font-family: $heading-font-family;
        text-align: center;
        font-size: 26px;
        margin-bottom: $spacer * 2;
    }
    .step2Title{
        margin-bottom: ($spacer * 2);
    }
}
.step1{
    height: 100%;
   
    .choice-img{
        padding: $spacer;
        width: 200px;
        border-radius: 40px;
        cursor: pointer;
    }
    .checkedAnim{
        animation: checkedAnimation 0.4s ease-in-out forwards;
        border: 4px solid $primary;
    }
    .image-wrapper{
        height: 230px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .nextStep-btn{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: $spacer;
        width: 100%;
        color: white;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .choice-img-container{
        text-align: center;
    }
}

@include media-breakpoint-up(lg) {
    .step1{
        display: flex;
        flex-direction: column;
        align-items: center;
        .nextStep-btn{
            position: static;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transform: translateX(0%);
        }
        .image-wrapper{
            height: 100%;
            overflow-y: initial;
            overflow-x: initial;
            margin-bottom: $spacer;
        }
    }
}

//animation
@keyframes checkedAnimation{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
}