.wrapper{
    background-image: url("/img/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    header{
        h1{
            text-align: center;
            padding-top: $spacer * 2;
            margin-bottom: (48 / 16) * $spacer;
            color: $white;
            text-transform: uppercase;
            font-weight: 800;
            font-size: 26px;
        }
        .progressState{
            margin-bottom: $spacer * 2;
            .progressList{
                padding-left: 0px;
                list-style: none;
                display: flex;
                justify-content: space-between;
                .progressCircle{
                    height: 30px;
                    width: 30px;
                    border-radius: 100%;
                    background: white;
                    &.active{
                        border: 4px solid white;
                        background: $secondary;
                    }
                }
            }
        }
    }
}
.appWrapper{
    background: white;
    padding-top: 24px;
    padding-bottom: 60px;
    overflow: hidden;
    .step-container{
        display: flex;
        position: relative;
        height: 400px;
        right: 0;
    }
    .step{
        margin-right: $spacer;
        min-width: 100%;
        max-width: 100%;
    }
    
}

@include media-breakpoint-up(lg) {
    .appWrapper{
        overflow-x: hidden;
        overflow-y: initial;
    }
    .step-container{
        display: flex;
        position: relative;
        height: 100%;
        right: 0;
    }
    .custom-container{
        padding-left: $spacer * 2;
        padding-right: $spacer * 2;
    }
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .wrapper{
        height: 80%;
        width: 800px;
        background-image: url("/img/bg.png");
        background-size: 200%;
        background-position: center;
    }
}
